body{ padding-top: 60px; }


#input-info-section p{
    color: #333;
    font-size: 125%;
    display: inline; 
    padding-left: 10px;
}

#parity-data-section{
    padding-top: 5px;
}

#parity-data-section p{
    color: #333;
    font-size: 125%;
    margin-bottom: 0px;
}



